<!DOCTYPE html>
<html xlmns="https://www.w3.org/1999/xhtml" xlmns:th="http://www.thymeleaf.org"
	xlmns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Secret View</title>
<script src="js/alert.js" defer> </script>
</head>
<body>
	<nav>
		<div>
			<a th:href="@{/}">Home</a>
		</div>
		<div>
			<a th:href="@{/secure}">Secure</a>
		</div>
		<div>
			<a th:href="@{/login}">Login</a>
		</div>
		<div>
			<a th:href="@{/register}">Register</a>
		</div>
		<div>
			<a th:href="@{/topSecret}"><b>Secret</b></a>
		</div>
	</nav>
<div>
<h1>Secret View</h1>
<p>This page is hidden to none authenticated users</p>
</div>
</body>



</html>